In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
data=pd.read_csv('mortalidad1.csv')

In [13]:
data.head

<bound method NDFrame.head of        Año de nacimiento  Mes de nacimiento Descripción del mes de nacimiento  \
0                   1972                  6                             JUNIO
1                   1967                  2                           FEBRERO
2                   1973                  6                             JUNIO
3                   1966                  1                             ENERO
4                   1975                  0                   NO ESPECIFICADO
5                   1975                  0                   NO ESPECIFICADO
6                   1985                  0                   NO ESPECIFICADO
7                   1978                  7                             JULIO
8                   1958                  9                        SEPTIEMBRE
9                   1970                  5                              MAYO
10                  1972                  4                             ABRIL
11                  1966                  1                             ENERO
12                  1969                  0                   NO ESPECIFICADO
13                  1973                  0                   NO ESPECIFICADO
14                  1960                  4                             ABRIL
15                  1963                  2                           FEBRERO
16                  1988                  0                   NO ESPECIFICADO
17                  1978                  0                   NO ESPECIFICADO
18                  1974                  0                   NO ESPECIFICADO
19                  1970                  8                            AGOSTO
20                  1974                  2                           FEBRERO
21                  1977                  5                              MAYO
22                  1983                  4                             ABRIL
23                  1992                  3                             MARZO
24                  1989                  3                             MARZO
25                  1987                  9                        SEPTIEMBRE
26                  1966                  9                        SEPTIEMBRE
27                  1968                 10                           OCTUBRE
28                  1985                  0                   NO ESPECIFICADO
29                  1971                  8                            AGOSTO
...                  ...                ...                               ...
17202               1990                 12                         DICIEMBRE
17203               1977                  8                            AGOSTO
17204               1988                 11                         NOVIEMBRE
17205               1986                  1                             ENERO
17206               1985                  2                           FEBRERO
17207               1982                  8                            AGOSTO
17208               1986                  5                              MAYO
17209               1999                  7                             JULIO
17210               1982                  3                             MARZO
17211               2000                  8                            AGOSTO
17212               1989                  9                        SEPTIEMBRE
17213               1995                 10                           OCTUBRE
17214               1984                 12                         DICIEMBRE
17215               1995                  4                             ABRIL
17216               1990                  8                            AGOSTO
17217               1988                  9                        SEPTIEMBRE
17218               1992                 10                           OCTUBRE
17219               1987                  5                              MAYO
17220               2000                  6                             JUNIO
17221               1989                  5                              MAYO
17222               1989                  5                              MAYO
17223               1979                  7                             JULIO
17224               1989                 12                         DICIEMBRE
17225               1993                  6                             JUNIO
17226               1989                  8                            AGOSTO
17227               1995                 10                           OCTUBRE
17228               1971                 11                         NOVIEMBRE
17229               1994                 11                         NOVIEMBRE
17230               1976                  5                              MAYO
17231               1990                  8                            AGOSTO

       Día de nacimiento  Genero Clave de la edad  Edad cumplida  \
0                     25       2                A             29
1                      1       2                A             35
2                     21       2                A             29
3                     23       2                A             36
4                      0       2                A             30
5                      0       2                A             30
6                      0       2                A             20
7                      9       2                A             27
8                     29       2                A             43
9                     24       2                A             31
10                    28       2                A             31
11                     6       2                A             35
12                     0       2                A             39
13                     0       2                A             29
14                    21       2                A             45
15                    16       2                A             42
16                     0       2                A             17
17                     0       2                A             35
18                     0       2                A             39
19                    25       2                A             43
20                    16       2                A             38
21                    20       2                A             36
22                    29       2                A             26
23                     8       2                A             17
24                     0       2                A             21
25                    16       2                A             22
26                    28       2                A             45
27                     1       2                A             43
28                     0       2                A             26
29                    14       2                A             40
...                  ...     ...              ...            ...
17202                 19       2                A             25
17203                 30       2                A             39
17204                 25       2                A             27
17205                 12       2                A             30
17206                 16       2                A             31
17207                 29       2                A             33
17208                  3       2                A             30
17209                 22       2                A             16
17210                  4       2                A             34
17211                  9       2                A             16
17212                 20       2                A             26
17213                 20       2                A             21
17214                  3       2                A             32
17215                  8       2                A             21
17216                 13       2                A             25
17217                 20       2                A             27
17218                 17       2                A             23
17219                 30       2                A             29
17220                 23       2                A             16
17221                  1       2                A             27
17222                 12       2                A             27
17223                 14       2                A             37
17224                 23       2                A             26
17225                  8       2                A             23
17226                  2       2                A             27
17227                  6       2                A             20
17228                 14       2                A             45
17229                 26       2                A             21
17230                 12       2                A             39
17231                 20       2                A             25

       Estado conyugal Descripción del estado conyugal  Entidad de residencia  \
0                    5                          CASADO                     31
1                    5                          CASADO                     31
2                    5                          CASADO                     31
3                    5                          CASADO                     31
4                    5                          CASADO                      9
5                    5                          CASADO                      9
6                    5                          CASADO                     15
7                    5                          CASADO                     15
8                    5                          CASADO                     32
9                    5                          CASADO                     32
10                   5                          CASADO                      3
11                   5                          CASADO                     11
12                   5                          CASADO                     16
13                   5                          CASADO                     30
14                   5                          CASADO                     27
15                   5                          CASADO                      7
16                   5                          CASADO                     28
17                   5                          CASADO                      7
18                   0                       SE IGNORA                     18
19                   5                          CASADO                     15
20                   5                          CASADO                     12
21                   5                          CASADO                     15
22                   5                          CASADO                     20
23                   5                          CASADO                     30
24                   5                          CASADO                      7
25                   5                          CASADO                     30
26                   5                          CASADO                     18
27                   5                          CASADO                     21
28                   5                          CASADO                     23
29                   5                          CASADO                     30
...                ...                             ...                    ...
17202                1                         SOLTERO                     30
17203                5                          CASADO                     30
17204                5                          CASADO                     30
17205                4                     UNION LIBRE                     30
17206                5                          CASADO                     31
17207                5                          CASADO                     31
17208                5                          CASADO                     23
17209                1                         SOLTERO                     31
17210                2                           VIUDO                     31
17211                4                     UNION LIBRE                     31
17212                4                     UNION LIBRE                     31
17213                4                     UNION LIBRE                     31
17214                5                          CASADO                      4
17215                1                         SOLTERO                     31
17216                4                     UNION LIBRE                     32
17217                4                     UNION LIBRE                     32
17218                4                     UNION LIBRE                     32
17219                5                          CASADO                      1
17220                1                         SOLTERO                     32
17221                4                     UNION LIBRE                     32
17222                4                     UNION LIBRE                     32
17223                5                          CASADO                     30
17224                1                         SOLTERO                     30
17225                4                     UNION LIBRE                     30
17226                1                         SOLTERO                     30
17227                1                         SOLTERO                     31
17228                5                          CASADO                     32
17229                1                         SOLTERO                     31
17230                5                          CASADO                     32
17231                5                          CASADO                     32

                             ...                         Mes de registro  \
0                            ...                                       1
1                            ...                                       7
2                            ...                                      10
3                            ...                                      10
4                            ...                                       4
5                            ...                                       4
6                            ...                                       5
7                            ...                                      10
8                            ...                                       1
9                            ...                                       4
10                           ...                                       9
11                           ...                                       1
12                           ...                                       2
13                           ...                                       3
14                           ...                                       6
15                           ...                                       7
16                           ...                                       3
17                           ...                                       2
18                           ...                                       5
19                           ...                                       9
20                           ...                                       1
21                           ...                                       9
22                           ...                                       2
23                           ...                                      12
24                           ...                                       3
25                           ...                                      11
26                           ...                                      10
27                           ...                                      11
28                           ...                                       5
29                           ...                                      12
...                          ...                                     ...
17202                        ...                                      10
17203                        ...                                       9
17204                        ...                                      10
17205                        ...                                      12
17206                        ...                                       5
17207                        ...                                       5
17208                        ...                                       6
17209                        ...                                       7
17210                        ...                                       7
17211                        ...                                       9
17212                        ...                                       9
17213                        ...                                      11
17214                        ...                                      12
17215                        ...                                      12
17216                        ...                                       1
17217                        ...                                       5
17218                        ...                                       6
17219                        ...                                      10
17220                        ...                                      11
17221                        ...                                      11
17222                        ...                                      12
17223                        ...                                      11
17224                        ...                                       8
17225                        ...                                       7
17226                        ...                                      12
17227                        ...                                       7
17228                        ...                                      12
17229                        ...                                       1
17230                        ...                                       1
17231                        ...                                       4

       Descripción del mes de registro Día de registro  \
0                                ENERO              20
1                                JULIO              28
2                              OCTUBRE              24
3                              OCTUBRE              20
4                                ABRIL               8
5                                ABRIL              29
6                                 MAYO              18
7                              OCTUBRE               9
8                                ENERO               0
9                                ABRIL               0
10                          SEPTIEMBRE              20
11                               ENERO               5
12                             FEBRERO              22
13                               MARZO              24
14                               JUNIO               8
15                               JULIO              12
16                               MARZO               4
17                             FEBRERO              27
18                                MAYO              17
19                          SEPTIEMBRE              11
20                               ENERO               2
21                          SEPTIEMBRE              17
22                             FEBRERO              17
23                           DICIEMBRE               6
24                               MARZO               5
25                           NOVIEMBRE              29
26                             OCTUBRE              10
27                           NOVIEMBRE              14
28                                MAYO              20
29                           DICIEMBRE              16

In [14]:
list(data.columns)

['Año de nacimiento',
 'Mes de nacimiento',
 'Descripción del mes de nacimiento',
 'Día de nacimiento',
 'Genero',
 'Clave de la edad',
 'Edad cumplida',
 'Estado conyugal',
 'Descripción del estado conyugal',
 'Entidad de residencia',
 'Descripción de entidad de residencia',
 'Municipio de residencia',
 'Descripción del municipio de residencia',
 'Localidad de residencia',
 'Descripión de la localidad de residencia',
 'Tamaño de localidad',
 'Descripción del tamaño de localidad',
 'Ocupación habitual',
 'Descripción de la ocupación habitual',
 'Escolaridad',
 'Descripción de la escolaridad',
 'Derechiahabiencia',
 'Descrición de la derechiahabiencia',
 'Entidad de ocurrencia',
 'Descripción de la entidad de ocurrencia',
 'Municipio de ocurrencia',
 'Descrición del municipio de ocurrencia',
 'Localidad de ocurrencia',
 'Descrición de la localidad de ocurrencia',
 'Sitio donde ocurrio la defunción',
 'Descripción del sitio donde ocurrio la defunción',
 'Año de la defunción',
 'Mes de la defunción',
 'Descrición del mes de la defunción',
 'Día de la defunción',
 'Hora de la defunción',
 'Minutos de la defunción',
 'Asistencia médica',
 'Descripción de la asistencia médica',
 'Causa CIE a  cuarto dígito',
 'Descrición de la causa CIE',
 'Quien certificó',
 'Descrición de quien certificó',
 'Entidad de registro',
 'Descrición de la entidad de registro',
 'Municipio de registro',
 'Descrición del municipio de registro',
 'Año de registro',
 'Mes de registro',
 'Descripción del mes de registro',
 'Día de registro',
 'Año de la certificación',
 'Mes de la certificación',
 'Descripció del mes de la certificación',
 'Día de la certificación',
 'Año de la base de datos',
 'Razón de mortalidad materna',
 'Descrición de la razón de mortalidad materna']

In [15]:
len(data['Edad cumplida'].unique())

50

In [16]:
data['Edad cumplida'].unique()

array([ 29,  35,  36,  30,  20,  27,  43,  31,  39,  45,  42,  17,  38,
        26,  21,  22,  40,  44,  34,  41,  33,  13,  24,  25,  37,  19,
        23,  32,  28, 998,  15,  46,  48,  16,  18,  12,  47,  14,  51,
        50,  54,  49,  11,  53,  81,  70,  82,  59,  86,  65])

In [17]:
 data['Año de la defunción'].unique()
#Observo solo un rango de 0 que veo que no es lógico

array([2002, 2005, 2003, 2008, 2013, 2012, 2009, 2010, 2011, 2004, 2006,
       2007, 2001, 1979, 1989, 1974, 1964, 1982, 1959, 1990, 1980, 1994,
       1977, 1976, 1938, 1970, 1949, 1997, 1956, 1961, 1957, 1985, 1975,
       2000,    0, 1948, 1971, 1978, 1984, 1993, 1992, 1972, 1973, 1986,
       1988, 1937, 1965, 1944, 1987, 1943, 1958, 1967, 1968, 1995, 1991,
       1969, 1999, 1966, 1963, 1953, 1954, 1962, 1950, 1996, 2014, 2015,
       1914, 1951, 2016])

In [18]:
len(data['Escolaridad'].unique())

11

In [20]:
data['Descripción de la escolaridad'].unique()
#Para mi si hay datos innecesarios ya que para que poner un no especificado r/n si ya
#esta arriba o para que poner dos veces bachillerato o preparatoria  si es lo mismo

array(['PRIMARIA INCOMPLETA', 'SECUNDARIA INCOMPLETA', 'PROFESIONAL',
       'NINGUNA', 'SECUNDARIA COMPLETA', 'NO ESPECIFICADO', 'POSGRADO',
       'PRIMARIA COMPLETA', 'BACHILLERATO O PREPARATORIA COMPLETA',
       'BACHILLERATO O PREPARATORIA INCOMPLETA', 'NO ESPECIFICADO\r\n',
       'PREESCOLAR'], dtype=object)

In [26]:
data['Descripción de entidad de residencia'].unique()

array(['Yucatán', 'Distrito Federal', 'México', 'Zacatecas',
       'Baja California Sur', 'Guanajuato', 'Michoacán de Ocampo',
       'Veracruz de Ignacio de la Llave', 'Tabasco', 'Chiapas',
       'Tamaulipas', 'Nayarit', 'Guerrero', 'Oaxaca', 'Puebla',
       'Quintana Roo', 'Sonora', 'Querétaro Arteaga', 'Nuevo León',
       'Sinaloa', 'Chihuahua', 'Jalisco', 'Morelos', 'San Luis Potosí',
       'Hidalgo', 'Durango', 'Campeche', 'Tlaxcala',
       'Coahuila de Zaragoza', 'Baja California', 'Aguascalientes',
       'Colima', 'Otros paises latinoamericanos',
       'Estados Unidos de Norteamérica', 'No especificado',
       'Otros paises', 'Querétaro'], dtype=object)

In [34]:
data1=data.drop(['Año de nacimiento','Mes de nacimiento','Descripción del mes de nacimiento','Genero','Clave de la edad','Estado conyugal','Entidad de residencia','Día de nacimiento','Descripción de entidad de residencia','Municipio de residencia','Descripción del municipio de residencia','Localidad de residencia','Descripción del tamaño de localidad','Mes de registro','Descripción del mes de registro','Día de registro','Descripión de la localidad de residencia','Ocupación habitual','Descripción de la ocupación habitual','Escolaridad','Descripción de la escolaridad','Derechiahabiencia','Descrición de la derechiahabiencia','Municipio de registro','Descrición del municipio de registro','Año de registro','Año de la certificación','Mes de la certificación','Descripció del mes de la certificación','Día de la certificación','Año de la base de datos','Razón de mortalidad materna','Descrición de la razón de mortalidad materna','Entidad de ocurrencia','Descripción de la entidad de ocurrencia','Municipio de ocurrencia','Descrición del municipio de ocurrencia','Sitio donde ocurrio la defunción','Hora de la defunción','Minutos de la defunción','Asistencia médica','Descripción de la asistencia médica','Descrición de la causa CIE','Quien certificó','Descrición de quien certificó','Entidad de registro','Descrición de la entidad de registro','Descripción del sitio donde ocurrio la defunción','Año de la defunción','Mes de la defunción','Descrición del mes de la defunción','Día de la defunción','Causa CIE a  cuarto dígito'],axis=1)

In [35]:
data1.head()

,Edad cumplida,Descripción del estado conyugal,Tamaño de localidad,Localidad de ocurrencia,Descrición de la localidad de ocurrencia
0,29,CASADO,9,1,311020001 Valladolid
1,35,CASADO,9,1,310500001 Mérida
2,29,CASADO,4,1,310560001 Oxkutzcab
3,36,CASADO,1,1,310500001 Mérida
4,30,CASADO,0,0,090160000 No especificado